*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background: black;
  width: 100%;
  height: 100px;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
}

.menu{
  background: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  height: 500px;
  width: 300px;
  justify-content: space-evenly;
  padding-left: 20px;
  text-decoration: none;
  list-style: none;
  transition: transform 0.5s;
  border-radius: 0px 0px 20px 0px;
}

.noMenu{
  transform: translateX(-305px);
  transition: transform 0.5s;
}

.linkNav{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family:var(--bebas);
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}

.iconLinkNav{
  width: 45px;
}

.contenedor-logoCV{
  width: 80px;
  height: 80px;
  display: flex;
  align-self: center;
  margin-left: 5px;
}

.logoCV{
  width: 100%;
  height: 100%;
}

.logoCV img{
  width: 100%;
  height: 100%;
}

.barsMenu{
  display: inline-block;
  height: min-content;
  align-self: center;
  margin-right: 25px;
}
