*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background: black;
  width: 100%;
  height: 100px;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
}

.menu{
  background: red;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  height: 500px;
  width: 300px;
}

.linkNav{
  text-decoration: none;
  color: white;
  background: tan;
}

.contenedor-logoCV{
  width: 80px;
  height: 80px;
  display: flex;
  align-self: center;
  margin-left: 5px;
}

.logoCV{
  width: 100%;
  height: 100%;
}

.logoCV img{
  width: 100%;
  height: 100%;
}

.barsMenu{
  display: inline-block;
  height: min-content;
  align-self: center;
  margin-right: 25px;
}
